<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CollectionView-nib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>710589DF1BE2FE5B00D13C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>710589F81BE2FE5B00D13C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71058A031BE2FE5B00D13C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
